{{> head}}

<body>
    {{>nav }}

    <div class="row d-flex justify-content-center">
        <div style="margin: 50px" class="col-md-6">
            <h1>Crud de productos</h1>
            <p>Proyecto de base de datos avanzadas</p>

            <h3>Tecnologias utilizadas</h3>
            <ul>
                <li>NodeJs</li>
                <li>ExpressJs</li>
                <li>Mongoose</li>

                <li>Handlebars</li>
            </ul>

            <h3>Base de datos</h3>
            <p>MongoDB montado en un servicio de Atlas</p>
        </div>
    </div>

</body>